<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <style>
        /* Свойства стиля элемента. Подробнее о них в модуле по CSS */

    </style>
    <script src="../Static/JS/about.js" defer></script>

</head>

<header id="header-index">
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <p>Покажем, что происходит прямо сейчас</p>
    <p>Здесь вы можете оставить свой отзыв</p>
    <button id="rateButton">Нажми меня</button>
    
</header>

<!--SIDEBAR-->
<body>

    <h1>Отзывы</h1>
    <div class="rates">
        <div class="name">

        </div>
        <div class="comment">

        </div>
        <div class="date">

        </div>
    </div>
    


</body>
<!--FOOTER-->

</html>
